body {
    font-family: 'Trebuchet MS', sans-serif;
}

.div-space {
    height: 20px;
}

.profile {
    max-width: 150px;
    border-radius: 150px;
}

h2 {
    color: rgb(148, 148, 148);
    margin-top: -10px;
    margin-bottom: 40px;
    font-size: 18px;
}

.cover {
    max-width: 100%;
    border: 1px solid rgb(91, 91, 91);
    border-radius: 5px;
}

.display-case {
    max-width: 800px;
    margin-left: -32px;
}

li {
    list-style: none;
    border-radius: 15px;
    align-content: center;
    padding-left: 0px;
    margin: 15px;
    display: inline-block;
    width: 135px;
}