body {
    font-family: 'Trebuchet MS', sans-serif;
}

.div-space {
    height: 20px;
}

.profile {
    max-width: 150px;
    border-radius: 150px;
}

h2 {
    color: rgb(148, 148, 148);
    margin-top: -10px;
    margin-bottom: 40px;
    font-size: 18px;
}

h3 {
    margin-bottom: 40px;
    font-size: 16px;
    font-weight: 350;
}

.cover {
    max-width: 100%;
    border: 1px solid rgb(165, 165, 165);
    border-radius: 5px;
}

.display-case {
    max-width: 800px;
    margin-left: -32px;
}

li {
    list-style: none;
    border-radius: 15px;
    align-content: center;
    padding-left: 0px;
    margin: 15px;
    display: inline-block;
    width: 135px;
}

.text-body {
    margin-top: 70px;
    max-width: 650px;
}

button {
    padding: 10px;
    width: 110px;
    height: 40px;
    display: block;
    margin-bottom: 25px;
    background-color: #306fdb;
    color: white;
    border-radius: 20px;
    border: none;
    text-decoration: none;
}

button:hover {
    background-color: #417ee6;
    cursor: pointer;
    text-decoration: none;
}

a {
    text-decoration: none;
}